.c-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background: $black;
    height: 50px;
    left: 0;
    box-shadow: 0 0 5px $black;
}

.c-nav-primary {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    > li {
        display: flex;
        @include mq-at-least(600px) {
            position: relative;
            display: block;
        }
        &:hover, &.active {
            > a {
                &:after {
                    top: 0;
                }
                color: $orange;
            }
            .c-nav-secondary {
                display: flex;
                @include mq-at-least(600px) {
                    display: block;
                }
            }
        }
    }
    a {
        // border-top: 3px solid $black;
        padding: 1em;
        display: block;
        font-size: 1em;
        text-decoration: none;
        color: $white;
        font-family: $oswald;
        text-transform: uppercase;
        transition: color 0.2s ease-out, background 0.2s ease-out;
        position: relative;
        overflow: hidden;
        span {
            display: none;
            margin-left: 0.5em;
            @include mq-at-least(1024px) {
                display: inline-block;
            }
        }
        &:after {
            position: absolute;
            width: 100%;
            height: 5px;
            display: block;
            content: " ";
            background: $orange;
            z-index: 30;
            top: -5px;
            left: 0;
            transition: top 0.2s ease-out;
        }
        &:hover {
            top: 0;
            color: $orange;
        }
    }
}

.c-nav-secondary {
    // box-shadow: 0 5px 5px $black;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: $orange;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 1em;
    align-items: center;
    z-index: 21;
    // justify-content: space-between;
    justify-content: center;
    > li {
        display: inline-block;
        a {
            border-top: none;
            color: $black;
            width: auto;
            transition: color 0.2s ease-out;
            &:hover {
                border-top: none;
                color: $white;
            }
            // span {
            //     display: inline-block;
            // }
        }
    }
    @include mq-at-least(600px) {
        width: 140px;
        text-align: left;
        padding: 0;
        > li {
            display: block;
        }
    }
}
